<h1 class="text-primary">Meetings</h1>

<p>
  There are numerous meetings in the Chippewa Valley. Below are links to some of the
  meeting directories for districts in our area. We also put together a helpful brochure
  to help you get the most out of these meetings. If you have any trouble finding a
  meeting, please <a routerLink="/contact" routerLinkActive="active">contact us</a> for further assistance.
</p>
<h2>Meeting Guide</h2>
<ul>
  <li><strong><a href="http://www.district05.org/meetings/">District 05</a></strong></li>
</ul>
<h2>Directories</h2>
<ul>
  <li><strong><a href="http://www.district05.org/aa/list/District05MeetingListDay.pdf">District 05</a></strong></li>
  <li><strong><a href="http://www.area74.org/assets/meetings/district06.pdf">District 06</a></strong></li>
</ul>
<hr>
<h2>Brochures</h2>
<ul>
  <li><strong><a href="assets/info/mostOutOfMeetingsBrochure.pdf" target="_self">Getting the Most out of Meetings</a></strong></li>
</ul>
