<h1 class="text-primary">Contact Us</h1>

<p>
  There are many ways to get a hold of someone who can help you. Contact us today for assistance.
</p>

<h2>Call</h2>
<p>
  The Chippewa Valley Intergroup can be contacted 24 hours a day by phone at <em>(715) 835-5543</em>
</p>
<p>
  If you have questions specific to our literature, please contact Jennifer H at
  <em>(715) 529-3742</em>.
</p>

<h2>Email</h2>
<p>
  If this is an urgent matter, please call us for a faster response. Our email account is not
  checked on a regular basis.
</p>

<p>
  <a href="mailto:archivist@area74.org">cvigaa@gmail.com</a>
</p>

<h2>Mail</h2>
<p>
  Our mailing address is:
</p>
<p>
  Chippewa Valley Intergroup<br />
  PO Box 574<br />
  Eau Claire, WI<br />
  54702
</p>
