<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#cvig-navbar-collapse" aria-controls="cvig-navbar-collapse" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="cvig-navbar-collapse">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" routerLink="/events" routerLinkActive="active">Events</a>
      <a class="nav-item nav-link" routerLink="/meetings" routerLinkActive="active">Meetings</a>
      <a class="nav-item nav-link" routerLink="/literature" routerLinkActive="active">Literature</a>
      <a class="nav-item nav-link" routerLink="/contact" routerLinkActive="active">Contact Us</a>
    </div>
  </div>
</nav>
