<h1 class="text-primary">Literature</h1>

<p>
  The Chippewa Valley Intergroup maintains inventory of popular conference approved
  literature for sale to groups, and facilitates large special purchases to reduce
  cost. We also provide literature support for new group start ups.
</p>

<p>
  Below is a list of our literature inventory we keep in stock and what we charge per book.
  To order literature from CVIG, use this <a href="assets/info/CVIGLiterature03.pdf" target="_self">order form</a>.
</p>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Literature Description</th>
      <th scope="col">Unit Price</th>
    </tr>
  </thead>
  <tr>
    <th scope="row">1</th>
    <td>Alcoholics Anonymous (1st Edition)</td>
    <td>12.00</td>
  </tr>
  <tr>
    <th scope="row">2</th>
    <td>Alcoholics Anonymous (4th Edition)</td>
    <td>9.50</td>
  </tr>
  <tr>
    <th scope="row">3</th>
    <td>Alcoholics Anonymous - Portable</td>
    <td>9.10</td>
  </tr>
  <tr>
    <th scope="row">4</th>
    <td>Alcoholics Anonymous - Large-Print</td>
    <td>10.30</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Alcoholics Anonymous - Pocket-Size</td>
    <td>5.00</td>
  </tr>
  <tr>
    <th scope="row">6</th>
    <td>Experience, Strength & Hope</td>
    <td>5.50</td>
  </tr>
  <tr>
    <th scope="row">7</th>
    <td>Twelve & Twelve - hard-cover</td>
    <td>8.90</td>
  </tr>
  <tr>
    <th scope="row">8</th>
    <td>Twelve & Twelve - soft-cover</td>
    <td>8.25</td>
  </tr>
  <tr>
    <th scope="row">9</th>
    <td>Twelve & Twelve - Large-Print</td>
    <td>8.25</td>
  </tr>
  <tr>
    <th scope="row">10</th>
    <td>Twelve & Twelve - Pocket-Size</td>
    <td>6.50</td>
  </tr>
  <tr>
    <th scope="row">11</th>
    <td>A.A. Comes of Age</td>
    <td>9.50</td>
  </tr>
  <tr>
    <th scope="row">12</th>
    <td>As Bill Sees It</td>
    <td>9.00</td>
  </tr>
  <tr>
    <th scope="row">13</th>
    <td>As Bill Sees It - soft-cover</td>
    <td>8.60</td>
  </tr>
  <tr>
    <th scope="row">14</th>
    <td>As Bill Sees It - Large-Print</td>
    <td>9.50</td>
  </tr>
  <tr>
    <th scope="row">15</th>
    <td>Dr. Bob and the Good Oldtimers</td>
    <td>10.50</td>
  </tr>
  <tr>
    <th scope="row">16</th>
    <td>"Pass It On"</td>
    <td>11.00</td>
  </tr>
  <tr>
    <th scope="row">17</th>
    <td>Daily Reflections</td>
    <td>10.25</td>
  </tr>
  <tr>
    <th scope="row">18</th>
    <td>Daily Reflections - Large-Print</td>
    <td>10.75</td>
  </tr>
  <tr>
    <th scope="row">19</th>
    <td>A.A. In Prison</td>
    <td>2.50</td>
  </tr>
  <tr>
    <th scope="row">20</th>
    <td>Came to Believe</td>
    <td>5.00</td>
  </tr>
  <tr>
    <th scope="row">21</th>
    <td>Came to Believe - Large-Print</td>
    <td>5.25</td>
  </tr>
  <tr>
    <th scope="row">22</th>
    <td>Living Sober</td>
    <td>5.00</td>
  </tr>
  <tr>
    <th scope="row">23</th>
    <td>Living Sober - Large-Print</td>
    <td>5.25</td>
  </tr>
  <tr>
    <th scope="row">24</th>
    <td>A.A. Service Manual/Twelve Concepts</td>
    <td>3.55</td>
  </tr>
</table>

<p>
  <br>
  <em>Please <a routerLink="/contact" routerLinkActive="active">contact us</a> if you would like to make a special literature request.</em>
</p>
